<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CanturiConnectionStr" value="server=NMG-SQL2012-NEW; database=CanturiDB; uid=sa; pwd=admin@123; timeout=3600"/>
    <!--<add key="CanturiConnectionStr" value="server=NMG_DOTNET_DEMO; database=CanturiDB; uid=sa; pwd=786!@#Nmg!@#786; timeout=3600"/>-->
    <add key="ErrorFilePath" value="D:\Git_Projects\Canturi\Canturi.DharmService\ErrorFile\err.txt"/>
    <add key="StartTime" value="24:05"/>
    <add key="APIUserId" value="canturi"/>
    <add key="WebAPIUserId" value="20365"/>
    <add key="WebAPICompany" value="canturi"/>
    <add key="WebAPIActCode" value="Can@$345Gem"/>


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
