<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Canturi.RapnetDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="CanturiConnectionStr" value="server=52.1.130.206; database=CanturiDB; uid=sa; pwd=RtPgW67@8764!dQ; timeout=3600"/>-->
    <add key="CanturiConnectionStr" value="server=AMDRYZEN7-3700X; database=CanturiDB_Prod; uid=sa; pwd=sa@123; timeout=3600"/>
    <!--<add key="CanturiConnectionStr" value="server=NMG-SQL2012-NEW; database=CanturiDB; uid=sa; pwd=admin@123; timeout=3600" />-->
    <add key="ErrorFilePath" value="D:\Git_Projects\Canturi\Canturi.RapnetDataService\ErrorFile\err.txt"/>
    <add key="StartTime" value="15:48"/>
    <add key="RapnetUserName" value="Angelinda"/>
    <add key="RapnetPassword" value="Canturi55"/>
    <add key="DlsCsvPath" value="D:\Git_Projects\Canturi\Canturi.RapnetDataService\DlsCsv\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding/>
          <!-- Start change -->
          <httpTransport maxReceivedMessageSize="999999097152" maxBufferSize="999999999" maxBufferPoolSize="999999097152"/>
          <!-- Stop change -->
        </binding>
      </customBinding>
    </bindings>


    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Canturi.RapnetDataService.Properties.Settings>
      <setting name="Canturi_RapnetDataService_com_rapaport_technet_RetailFeed" serializeAs="String">
        <value>https://technet.rapaport.com/WebServices/RetailFeed/RetailFeed.asmx</value>
      </setting>
      <setting name="Canturi_RapnetDataService_com_rapaport_technet1_Feed" serializeAs="String">
        <value>https://technet.rapaport.com:449/WebServices/RetailFeed/Feed.asmx</value>
      </setting>
    </Canturi.RapnetDataService.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
