<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />-->
        <supportedRuntime version="v4.0" />
    </startup>
  <appSettings>
    <add key="CanturiConnectionStr" value="server=10.0.0.16; database=CanturiDB; uid=sa; pwd=786!@#Nmg!@#786; timeout=3600"/>
    <!--<add key="CanturiConnectionStr" value="server=10.0.0.15; database=CanturiDB; uid=sa; pwd=admin@123; timeout=3600"/>-->
    <!--<add key="CanturiConnectionStr" value="server=NMG_DOTNET_DEMO; database=CanturiDB; uid=sa; pwd=786!@#Nmg!@#786; timeout=3600"/>-->
    <add key="APIurl" value="https://glowstaronline.com/inventory/website/canturi.php"/>
    <add key="ErrorFilePath" value="C:\nmg\nmg\Projects\Canturi\Canturi.GlowstarService\ErrorFile\err.txt"/>
    <!--<add key="ErrorFilePath" value="C:\inetpub\wwwroot\CanturiWeb\WindowsService\Canturi.GlowstarService\ErrorFile\err.txt"/>-->
    <add key="StartTime" value="24:05"/>
  </appSettings>
</configuration>