.th-shape {
	width: 8%;
}
.th-price{
	width: 8%;
}
.th-carat{
	width: 6%;
}
.th-color{
	width: 5%;
}
.th-clarity{
	width: 6%;
}
.th-cut{
	width: 8%;
}
.th-polish{
	width: 8%;
}
.th-certificate{
	width: 8%;
}
.th-fluorescence{
	width: 10%;
}
.th-symmetry{
	width: 9%;
}
.th-depth{
	width: 8%;
}
.th-table{
	width: 8%;
}
.th-detail{
	width: 8%;
}