<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Canturi.RapnetDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="CanturiConnectionStr" value="server=NMG-SQL2012-NEW; database=CanturiDB; uid=sa; pwd=admin@123; timeout=3600"/>-->
    <add key="CanturiConnectionStr" value="server=AMDRYZEN7-3700X; database=CanturiDB_Prod; uid=sa; pwd=sa@123; timeout=3600"/>
    <!--<add key="CanturiConnectionStr" value="server=52.1.130.206; database=CanturiDB; uid=sa; pwd=RtPgW67@8764!dQ; timeout=3600" />-->
    <add key="ErrorFilePath" value="D:\Git_Projects\Canturi\Canturi.JBBrosDataService\ErrorFile\err.txt"/>
    <add key="StartTime" value="24:05"/>
    <add key="JBBrosUserName" value="Angelinda"/>
    <add key="JBBrosPassword" value="Canturi55"/>
    <add key="APIUserId" value="louise"/>
    <add key="APIKey" value="BCD52CFC-560D-4543-AED7-C1E990B29078"/>
    <add key="Shape" value="CUMBR,EM,FS,HRT,MQ,OV,PS,PR,RT,RD,SQEM,SQRT,TR,SQBR,RECBR,TA,ST,CUBR,CU"/>
    <add key="CaratFrom" value="0.01"/>
    <add key="CaratTo" value="99.99"/>
    <add key="Color" value="J,I,H,G,F,E,D,J+,I+,H+,G+,F+,E+,J-,I-,H-,G-,F-,E-,D-"/>
    <!--<add key="Color" value="D,E,F,G,H,I,J,K,L,M,N,O,P"/>-->
    <add key="Purity" value="SI2,SI1,VS2,VS1,VVS2,VVS1,IF,FL,SI2+,SI1+,VS2+,VS1+,VVS2+,VVS1+,SI2-,SI1-,VS2-,VS1-,VVS2-,VVS1-"/>
    <add key="Lab" value="GIA"/>
    <!--<add key="Lab" value="GIA,IGI,HRD,AGS,EGL,IGC,JGS"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  
</configuration>
