@{
    ViewBag.Title = "NOJavascript";
    Layout = "";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        You need to change a setting in your web browser This webisite requires a browser
        feature called JavaScript. All modern browsers support JavaScript. You probably
        just need to change a setting in order to turn it on. Please see: <a href="http://support.google.com/bin/answer.py?hl=en&answer=23852"
                                                                             target="_blank">How to enable JavaScript in your browser.</a> If you use ad-blocking
        software, it may require you to allow JavaScript for this website. Once you've enabled
        JavaScript you can visit our <a href='@Url.Content("~/")'>website again</a>. Thank you
    </div>
</body>
</html>

